<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 600px;
            overflow-y: auto;
            border: 1px solid #ccc;
        }
        .column h2 {
            text-align: center;
        }
        .ticket {
            margin: 5px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% include 'footer.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>
